/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define RPG 3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                             &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp MINUS
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                              &kp Y  &kp U    &kp I     &kp O   &kp P    &kp SQT
&kp LSHFT &kp A  &kp S  &kp D    &kp F    &kp G                              &kp H  &kp J    &kp K     &kp L   &kp SEMI &kp RSHFT
&kp LCTRL &kp Z  &kp X  &kp C    &kp V    &kp B  &kp C_VOL_DN   &kp C_VOL_UP &kp N  &kp M    &kp COMMA &kp DOT &kp FSLH &kp RCTRL
                        &kp LALT &kp LGUI &mo LOWER  &kp SPACE      &kp BSPC &mo RAISE  &kp RET  &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {

            bindings = <
&trans  &kp F1    &kp F2    &kp F3            &kp F4            &kp F5                   &kp F6       &kp F7    &kp F8        &kp F9     &kp F10         &kp F11
&trans  &kp ESC   &trans    &kp LC(LG(LEFT))  &kp LC(LG(RIGHT)) &trans                   &kp PG_UP    &kp PG_DN &kp HOME      &kp END    &kp CAPS        &kp F12
&trans  &sk LALT  &sk LGUI  &sk LSHFT         &sk LCTRL         &trans                   &kp LEFT     &kp DOWN  &kp UP        &kp RIGHT  &trans          &trans
&trans  &kp LC(Z) &kp LC(x) &kp LC(C)         &kp TAB           &kp LC(V) &trans &trans  &kp LC(BSPC) &kp BSPC  &kp LG(LS(S)) &trans     &trans          &tog RPG
                  &trans    &trans            &trans            &trans           &kp RET &trans       &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {

            bindings = <
&trans    &trans     &trans     &trans    &trans    &trans                          &trans      &trans    &trans    &trans    &trans    &trans
&trans    &kp CARET  &kp DLLR   &kp LBKT  &kp RBKT  &kp GRAV                        &kp KP_PLUS &kp MINUS &kp EQUAL &kp TILDE &trans    &trans
&trans    &kp HASH   &kp PRCNT  &kp LBRC  &kp RBRC  &kp DQT                         &kp LEFT    &kp DOWN  &kp UP    &kp RIGHT &kp COLON &trans      
&trans    &kp EXCL   &kp AT     &kp LPAR  &kp RPAR  &kp SQT     &trans   &trans     &kp ASTRK   &kp AMPS  &kp UNDER &kp BSLH  &kp PIPE  &trans
                                      &trans  &trans  &trans    &trans   &trans     &trans      &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        
        rpg_layer {

            bindings = <
&trans    &trans     &trans     &trans    &trans    &trans                          &trans     &trans   &trans    &trans    &trans    &trans
&trans    &trans     &trans     &trans    &trans    &trans                          &kp Q      &kp W    &kp UP    &trans    &trans    &trans
&trans    &trans     &trans     &trans    &trans    &trans                          &kp ESC    &kp LEFT &kp DOWN  &kp RIGHT &kp LSHFT    &trans
&trans    &trans     &trans     &trans    &trans    &trans    &trans    &trans      &kp A     &kp S   &kp D    &kp F    &kp LCTRL    &trans
                                      &trans  &trans  &trans    &trans   &trans     &kp Z      &kp X    &kp C
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
